#yf-topnav, 
#yf-topnavul,
#yf-topnavul ul,
#yf-topnavul li, 
#yf-topnavul ul.subcats li, 
/*#yf-topnavul li ul.subcats li a, */
#yfmyli,
#yfmyli ul,
#yfmyli li,
#yfi_pf_quotes_bar,
#yfi_pf_quotes_bar ul,
#yfi_pf_quotes_bar .bd, 
#yfi_pf_quotes_bar form {
    padding: 0;
    margin: 0;
}

#yfs_market_time {
    float: right;
    margin-bottom: 5px;
    font-size: 85%;
}

#yf-topnavul {z-index:100;}
#yf-topnavul li {z-index:500;}
#yf-topnavul ul.subcats li {z-index:600;}
#yf-topnavul li ul.subcats li a {z-index:600;}

#yfi_pf_quotes_bar ol, 
#yfi_pf_quotes_bar ul,
#yf-topnav ol, 
#yf-topnav ul {list-style:none;}


#yf-topnav { float: left; border-bottom:5px solid #3C61A4; width:100%; padding:0;}
#yf-topnav a { font-family: arial, helvetica, clean, san-serif; font-size: 85%;}
#yf-topnavul { list-style-type:none;margin-left:20px; }
#yf-topnavul li {float: left; position:relative;  display:inline; margin:0 5px 0 0;  padding:0;}
#yf-topnavul li:hover .subcats { left:0; top:31px; }
#yf-topnavul li a {display:block; height:31px; background-image: url(http://l.yimg.com/a/i/us/fi/navbar/images/topnav_tt_20090511.png); background-repeat:no-repeat; text-indent:-1000em; }
/*show the grey version for each link */
a#yfhomea {background-position: 0 -31px; width:64px;}
a#yfinva {background-position: -69px -31px; width:93px;}
a#yfnewsa {background-position: -167px -31px; width:131px;}
a#yfpfa {background-position: -303px -31px; width:153px;}
a#yfmya {background-position: -462px -31px; width:130px;}
a#yftta {background-position: -604px -31px; width:115px;}
/*if the list item is selected, show the blue version */
.selected a#yfhomea {background-position: 0 0px; }
.selected a#yfinva {background-position: -69px 0px; }
.selected a#yfnewsa {background-position: -167px 0px; }
.selected a#yfpfa {background-position: -303px 0px;}
.selected a#yfmya {background-position: -462px 0px; }

#yf-topnavul ul.subcats {position:absolute; left:-1000em; font-size:75%; background: #fff url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/bg-dropdown-fade_200701252000.jpg) repeat-x 0 0 ; border:1px solid #ccc; width:145px; z-index:1000;}
#yf-topnavul ul.subcats li {text-align: left; padding:0; margin:0 0 0 2px;display:block; float:none; width:141px;  background:transparent; border-bottom:1px solid #ccc;}
#yf-topnavul #yfinvli ul.subcats {width:137px;}
#yf-topnavul #yfnewsli ul.subcats {width:130px;}
#yf-topnavul #yfpfli ul.subcats {width:152px;}
#yf-topnavul #yfmyli ul.subcats {width:203px;}
#yf-topnavul #yfinvli ul.subcats li {width:133px;}
#yf-topnavul #yfnewsli ul.subcats li {width:126px;}
#yf-topnavul #yfpfli ul.subcats li {width:148px;}
#yf-topnavul #yfmyli ul.subcats li {width:199px;}
#yf-topnavul .subcats li:hover {background:#3E63A5 url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/bg-dropdown-li_200701252000.gif) repeat-x 0 0;}  /* FF, Opera, IE7 */
#yf-topnavul .subcats li a { text-decoration:none; height:auto; color:#333; font-weight:normal; text-indent:0; background:none; padding:4px;}
#yf-topnavul .subcats li:hover a {color:#fff; text-decoration:none;} /* FF, Opera, IE7 */
#yf-topnavul .subcats li a span{float:right;}
#yf-topnavul #yfmyli .subcats li a  { float: left;}
#yf-topnavul #yfmyli .subcats li { float: left; }
#yf-topnavul #yfmyli .subcats li a.yfedit, #yf-topnavul #yfmyli .subcats li a.yfmkttrack  {float:right; text-align:right; }
/* display EDIT only on hover */
#yf-topnavul .subcats li a.yfedit { display: none; }
#yf-topnavul .subcats li:hover a.yfedit { display: block; } /* FF, Opera, IE7 */
/* separate hover state for Portfolio New and Markettracker anchors, but keep on same line */
#yf-topnavul .subcats #yfmylitools .yfaddnew { float: left; width:97px; }
#yf-topnavul .subcats #yfmylitools .yfmkttrack  { float:right; width:98px; }
#yf-topnavul .subcats #yfmylitools a { padding-left:0; }
#yf-topnavul .subcats #yfmylitools a:hover { background:#3E63A5 url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/bg-dropdown-li_200701252000.gif) repeat-x 0 0; } 
#yf-topnavul .subcats #yfmylitools a:hover span { color:#FFF; }
#yf-topnavul .subcats #yfmylitools span { padding-left:13px; color:#333; width:80px; }
#yf-topnavul .subcats #yfmylitools .yfaddnew span { background:url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/add12_thn_1_200701252000.gif) no-repeat 0 0; }
#yf-topnavul .subcats #yfmylitools .yfmkttrack span { background:url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/newwin12_1_200701252000.gif) no-repeat 0 0; }
#yf-topnavul .subcats #yfmylitools:hover { background:none; }  /* FF, Opera, IE7 */

/* Get Quotes section*/ 
                
#yfi_pf_quotes_bar {
    float: left; 
    width: 100%;
    background: #CEE0F6;
    font-size: 100%;
    padding: 2px 0;
    border-bottom: 1px solid #93ABC7;
    padding-top: -20px;
    /* ie6 duplicate character hack */
    _margin-right: -3px;
    _margin-bottom: 5px;
    clear: both;
    
}

#yfi_pf_quotes_bar ul{ 	}
#yfi_pf_quotes_bar ul li{ float: left; 	height:29px; margin:0 0 0 5px;	}
#yfi_pf_quotes_bar ul li label{text-indent:-1000em; width:10px;	 display:block;}	/*hide the label, but give it to screen readers */
#yfi_pf_quotes_bar ul li input.button{ float: left; padding:0; margin:0;}	
#yfi_pf_quotes_bar ul li input.text	{
    margin-top:5px; 
    padding:2px;
    font-size: 77%;
}	

#yfi_pf_quotes_bar a { 
    float: left;   
    background:url(http://us.js2.yimg.com/us.js.yimg.com/i/us/fi/navbar/images/bg-chevron_200701252000.gif) no-repeat 0 5px; 
    padding:0 8px 0 7px; 
    margin:7px 0 0 10px; 
    font-weight: bold;
    font-family: arial, helvetica, clean, sans-serif;
    font-size: 70%;
    text-decoration: none;
    color: #0F55C3;
}	
#yfi_pf_quotes_bar a:hover {text-decoration:underline;	}
#yfi_pf_quotes_bar p {float:right; margin:7px 10px 0 0;}


	
