/*********************************************************************
*
* Finance grid Layout overrides
*
*********************************************************************/ body{background:#fff;}
#y-page.y-fin-wrapper{width:970px;padding:0;border:1px solid #e2ebf2;}
#y-content{*display:inline;}
#y-main{clear:both;padding:10px 0;text-align:left;}
#y-nav-sec{text-align:left;}
#y-nav-sec fieldset{float:left;clear:none;}
#y-nav-sec label,#y-nav-sec legend,#y-nav-sec h2{display:none;}
#y-fi-get-quotes-input{border:2px solid #3d60a4;}
#y-ad-units,#yfi-rq{text-align:center;padding:5px 0 10px 0;display:block;clear:both;}
#y-ad-units{width:960px;}
#y-ad-units .ad{float:left;clear:none;width:25%;_width:24%;}
#y-article-related #yfi-rq{padding:10px 0;background-color:#EEF3F6;margin:0;}
.sponsored span.adcomponent{float:right;margin:0 8px 5px 0;}
.sponsored span.sponsoredtext{font-size:90%;line-height:30px;margin:0 5px 0 0;}
#yfi-MH{display:block;text-align:center;}
#yfi-N{margin-bottom:10px;}
#yfi-MIP{padding-top:20px;padding-right:2px;}
#y-content p,#y-content blockquote{font-size:1em;line-height:1.539em;margin-bottom:1.53em;display:block;}
#y-content blockquote{margin-left:1.53em;}
#y-content strong{font-weight:bold;}
#y-content h1{font-size:1.82em;padding:0;padding-top:6px;margin-bottom:.5em;font-weight:bold;}
#y-content h2{font-size:115%;margin-bottom:1.16em;}
#y-content h2.subline{border-top:none;padding-top:0;font-weight:normal;}
#y-article-hd{margin-bottom:.65em;padding-top:.65em;-padding-top:.4em;-margin-top:0;zoom:1;-padding-bottom:0;-margin-bottom:0;}
#y-article-hd:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#y-content #y-article-hd h2{font-family:arial,sans-serif;font-size:108%;margin-top:-10px;margin-bottom:1em;font-weight:normal;color:#2F3A3F;line-height:161.6%;}
#y-content #y-article-hd h1{margin-bottom:10px;color:#000;}
#y-content #y-article-hd p{color:#808080;font-size:85%;margin-bottom:12px;padding:0;position:relative;}
#y-content #y-article-hd p .source{position:absolute;right:0;}
#y-article-hd .attribution li{margin-bottom:2px;}
#y-content .mod-group .mod{clear:none;}
#y-content .mod-group .col2 .mod{padding-left:0;margin-bottom:1em;}
#y-content .mod-group .mod ul{padding-left:15px;}
#y-content .mod-group .mod li{margin-bottom:0.70em;list-style-type:disc;color:#808080;}
#y-related h2{padding:8px 0 5px 0;margin-bottom:12px;font-size:120%;}
#y-related h2 img{vertical-align:middle;}
#y-related ul{margin:0;}
#y-related ul li{margin-left:14px;margin-bottom:0.70em;}
#y-related .mod{margin-bottom:9px;padding-bottom:8px;}
#y-related .mod .mod{margin-bottom:14px;}
#y-related .mod .mod .ft{margin-bottom:8px;}
#y-related .mrec,#y-related #yfi-MREC,#y-related .mip,#y-related #yfi-MIP{width:300px;margin:auto;text-align:center;}
#y-related #yfi-MREC{padding-top:0;border-top:none;}
#y-main #yfi-NT1{margin:0 auto 5px auto;text-align:center;}
#y-related .article-related-col .newslist h2,#y-content .mod-group .mod h2{font-size:123.1%;}
#y-related .article-related-col .newslist ul.articles,#y-related .article-related-col .more-from-partner ul{margin-left:13px;}
#y-related .article-related-col .portnews ul.articles{margin-left:0;}
#yfi_ft{background:#C6C3C6;margin:0;padding:15px 15px 20px;text-align:left;}
table{width:100%;}
.yf-ticker{text-transform:uppercase;}
#yfi-nns{margin-bottom:10px;}
#yfi-nns img{display:none;}
#yfi-nns font,#y-feedback{margin:0 10px 5px 10px;border:2px solid #ccc;padding:3px 10px;background:#fff;}
#yfi-nns font{display:block;margin-bottom:0;}
#y-feedback{border:1px solid #e1c05e;background:#fef3d2;font-size:85%;margin-bottom:10px;}
#y-feedback img{vertical-align:middle;}
#y-related .newslist{padding-bottom:1px;}
.newslist .more{font-weight:bold;margin:0 13px;background-image:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/news-left-aligned-sprite.png);background-repeat:no-repeat;background-position:right;padding-right:12px;}
span.date{color:#808080;font-size:0.8em;}
span.recent{color:#840226;}
.nowrap{white-space:nowrap;}
wbr:after{content:"\00200B";}
.bcf:before,.bcf:after{content:".";display:block;height:0;overflow:hidden;}
.bcf:after{clear:both;}
.bcf{zoom:1;}
.offScreen{left:-999em;position:absolute;height:0;overflow:hidden;}
.displayNone{display:none;}
.transparent{opacity:0;filter:alpha(opacity=0);}
.newLink{color:#f60;font-weight:bold;}
#y_bd{padding:10px 0;text-align:left;}
#y_sidebar{float:left;margin-right:-160px;width:160px;position:relative;z-index:2;}
#y_main{border-left:160px solid #eef2fa;float:left;margin:0 15px 0 0;width:475px;padding:15px 0 30px 10px;position:relative;z-index:1;}
#y_rail{float:left;width:300px;padding-top:10px;}
#y_bd h1{font-size:1.25em;font-weight:bold;}
#y_main h3,#y_rail h3{font-size:1.15em;font-weight:bold;}
#y_sidebar .secondary_nav{background:#EEF2FA;min-height:1000px;_height:1000px;}
#y_sidebar .secondary_nav h3,#y_sidebar .secondary_nav h4{color:#000;font:bold 11px arial;margin-top:5px;padding:3px 10px;text-transform:uppercase;}
#y_sidebar .secondary_nav .hd h3,#y_sidebar .secondary_nav .hd h4{background-color:#3B60A4;padding:8px 10px;font:bold 13px arial;color:#fff;text-transform:none;}
#y_sidebar .secondary_nav li{padding:3px 10px;}
#y_sidebar .secondary_nav .selected{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_quote_summary_sprite_new.png) no-repeat scroll -3px -1325px #fff;font-size:11px;font-weight:bold;}
#y_sidebar .secondary_nav .deselected{color:#999;font-weight:bold;font-size:11px;}
#y_sidebar .secondary_nav a{color:#1A5488!important;text-decoration:none;font-weight:bold;font-size:11px;display:block;}
#y_sidebar .secondary_nav a:hover,#y_sidebar .secondary_nav a:focus,#y_sidebar .secondary_nav a:active{text-decoration:underline;}
#yfi_ticker_header{background:#f1f1f1;padding:3px 8px;margin-bottom:5px;}
#yfi_ticker_header h1{float:left;}
#yfi_ticker_header div{float:right;font-size:95%;font-weight:bold;margin-top:2px;}
#yfi_feedback{background:#FCF4DD url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/sprite_yfi_ticker.png) no-repeat 5px -120px;border-top:1px solid #DECB7F;border-bottom:1px solid #DECB7F;margin:10px 0;padding:0.38em 0.38em 0.38em 28px;text-align:left;}
#yfi_feedback a{color:#1A5488!important;text-decoration:none;}
#yfi_feedback a:hover{text-decoration:underline;}
.yog-24u{margin:0 auto;}
#yfs_ad_NP1,#yfs_ad_NP2,#yfs_ad_NP3,#yfs_ad_NP4{display:block;margin-top:15px;}
.np1,.np2,.np3,.np4{text-align:center;margin:0 auto;padding-top:10px;}
/*********************************************************************
*
* Finance grid Layout overrides
*
*********************************************************************/ #y-content{background:#fff;}
#y-main a{color:#1A5488;text-decoration:none;}
#y-main a:hover{text-decoration:underline;}
.articles a:visited,a.article:visited{color:#8fa1b0!important;}
button.cta{background:#e4e3e2 url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/cta-button-static.gif) no-repeat 0 0;width:100px;height:27px;border:none;color:#000;font-weight:bold;font-size:0.7em;text-align:center;text-transform:uppercase;padding:0;}
#y-content p{color:#181818;}
#y-content h2{color:#000;border-top:2px solid #000;font-weight:bold;padding-top:12px;}
#y-content #y-article-hd h2{border-top:none;padding-top:0;}
.mod li.video a{background:transparent url(http://l.yimg.com/a/i/ww/thm/1/icons_1.1.gif) no-repeat 0 -51px;padding-left:22px;}
.mod li.image a{background:transparent url(http://l.yimg.com/a/i/ww/thm/1/icons_1.1.gif) no-repeat 0 -151px;padding-left:22px;}
#y-content .mod-group{clear:both;zoom:1;}
#y-content .mod-group .mod ul{list-style:disc;}
#y-content .mod-group .mod.ysm{border:1px solid #e2ebf2;}
.attribution,#y-content #y-article-hd p.attribution,ul li cite{color:#808080;font-size:85%;}
.provider-attribution{color:#808080;font-size:85%;margin-bottom:1.25em;}
#y-related h2{border-top:2px solid #000;font-weight:bold;padding-left:13px;padding-top:12px;margin-bottom:13px;padding-bottom:0;}
#y-related ul{color:#000;}
#y-related ul li{background-image:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/news-left-aligned-sprite.png);background-position:-1000px .1em;background-repeat:no-repeat;list-style-type:none;margin-left:0;padding-left:12px;}
#y-related .ad{border-top:2px solid #000;padding-top:15px;}
#y-nav{position:static;}
#y-related .techticker ul li{background:none;list-style-type:none;margin-left:0;padding-left:0;}
#yfi_breaking_news{font-weight:bold;padding:0.49em 0.4em;margin-top:0.77em;}
#yfi_breaking_news .story{padding-left:0.37em;font-size:123%;}
#y-content #yfi_breaking_news h2{font-size:100%;margin:0.2em 0 0 0;display:inline;}
#yfi_breaking_news a{padding-left:0.6em;}
#yfi_breaking_news .read-more{font-size:85%;}
#yfi_breaking_news cite{font-size:77%;padding-left:0.2em;}
#yfi_breaking_news .provider{text-transform:uppercase;}
.breaking_news{border:1px solid #860000;background:#901d0a url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/fp_gl_brknews.png) 0 -1px;}
#y-content .breaking_news h2,.breaking_news cite{color:#FFF;}
.breaking_news a,.breaking_news span.story{color:#FFE8A9;}
.developing_story{border:1px solid #F5B140;background:#fad15d urlhttp://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/fp_gl_brknews.png) 0 -171px;}
#y-content #yfi_breaking_news.developing_story h2,#yfi_breaking_news.developing_story cite{color:#314350;}
#y-content #yfi_breaking_news.developing_story h2,#yfi_breaking_news.developing_story cite{font-weight:bold;}
#yfi_breaking_news.developing_story a,#yfi_breaking_news.developing_story span.story{color:#D60100;}
#y-main #yfi_breaking_news{margin-left:10px;}
#yfi_breaking_news h2{border-top:none;}
#y-main #yfi_breaking_news.developing_story a,#y-main #yfi_breaking_news.developing_story span.story{color:#D60100;}
#y-main #yfi_breaking_news{margin-left:10px;margin-bottom:10px;margin-top:0;}
.a44 #y-main #yfi_breaking_news{margin-left:0;}
#y-main #yfi_breaking_news h2{border-top:none;color:#fff;}
#y-main #yfi_breaking_news .story,#y-main #yfi_breaking_news.breaking_news .read-more a{color:#FFE8A9;}
.yfs_module_params,.yfs_common_params{display:none;}
/*
 * yfi_nav_topnav_base.css 
 * this file also contains all the rule to style ".hub-nav" (tabs) across all the pages 
 */ #y-nav{position:static;z-index:1000;background:#fff;}
#y-nav-pri,#y-nav-pri ul,#y-nav-pri li{zoom:1;}
#y-nav-pri:after,#y-nav-pri ul:after,#y-nav-pri li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#y-nav-pri{border-bottom:5px solid #3C61A4;position:static;background:#fff;}
#y-nav-pri li{float:left;list-style-type:none;background-position:top right;background-repeat:no-repeat;margin:0 6px 0 0;position:relative;overflow:visible;}
#y-nav-pri li span{display:block;position:relative;}
#y-nav-pri li a{display:block;}
#y-nav-pri li ul li strong{padding-left:5px;color:rgb(255,102,0);font-weight:bold;text-transform:uppercase;}
#y-nav-pri li ul{display:none;position:absolute;z-index:10;_width:auto;margin:0;padding:0;}
#y-nav-pri li.active ul{display:block;z-index:10000712;}
#y-nav-pri li.active ul,x:-moz-any-link,x:default{width:auto;min-width:100%;}
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0){head~body #y-nav-pri li.active ul{width:auto;min-width:100%;}
}
#y-nav-pri li ul li{clear:left;display:block;width:100%;_width:120px;overflow:hidden;_overflow:visible;}
html>body #y-nav-pri li ul li{*width:auto;*min-width:100%;}
#y-nav-pri li ul li,x:-moz-any-link{overflow:visible;}
.gecko_1-9 #y-nav-pri li ul li{width:auto;min-width:100%;}
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0){head~body #y-nav-pri li ul li{overflow:visible;}
}
#y-nav-pri li ul li a,#y-nav-pri li#y-current ul li a{display:block;position:relative;width:auto;}
#y-nav-pri #y-nav-my-portfolios{min-width:160%;width:240px;}
#y-nav-pri #y-nav-my-portfolios ul{position:relative;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios li ul{*margin-bottom:-.43em;}
#y-nav-pri #y-nav-my-portfolios li ul li,#y-nav-pri #y-nav-my-portfolios li#y-portfolios{width:100%;float:none;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios a{padding-right:6em;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios li.edit{display:block;min-width:auto;height:0;overflow:hidden;margin-top:-1.4em;*margin-top:-1.65em;float:right;width:auto;}
html>body #y-nav-pri #y-nav-my-portfolios li#y-portfolios li.edit{margin-right:6px;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios li.active ul li.edit{height:auto;}
.gecko_1-9 #y-nav-pri li ul li.edit{min-width:auto;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios li.edit a{padding-right:.5em;padding-left:.5em;border:none;}
#y-nav-pri #y-nav-my-portfolios li#y-portfolios.scroll ul li.edit a{margin-right:10px;}
#y-nav-pri #y-nav-my-portfolios #y-portfolios.scroll{overflow-y:auto;overflow-x:hidden;max-height:14.5em;*height:15em;}
a#skip_nav{background:#6B92D7;border:1px solid #3C61A4;color:#fff;font-size:85%;left:-9999em;padding:10px;position:absolute;top:30px;}
#y-nav-pri a#skip_nav:active,#y-nav-pri a#skip_nav:focus{left:40%;}
#y-nav-pri #y-main-nav{padding-top:.15em;}
.hub-tabs{overflow:hidden;zoom:1;margin:1em 0;}
.hub-tabs .hd{border-top:0;border-bottom:1px solid #9A9A9A;padding:0;margin:0;min-height:2.37em;_height:2.37em;}
.hub-tabs h2,.hub-tabs .hd div{padding:0;float:left;position:relative;top:1px;*top:2px;border:1px solid #9A9A9A;border-bottom:0;margin:0 5px 0 0;font-weight:bold;font-family:arial,helvetica,sans-serif;}
.hub-tabs h2{border-bottom:2px solid #fff;}
.hub-tabs span{color:#808080;font-weight:normal;}
.hub-tabs .hd div{background:#A6B8BF url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/repeat-x-sprite.png) repeat-x 0 -550px;}
.hub-tabs a{display:block;padding:.5em;}
.hub-tabs a:link,.hub-tabs a:visited{color:#000;}
.hub-tabs .first{border-left:0;}
/* yfi_nav_topnav_theme.css */ #y-nav{margin-top:0;}
#y-nav-pri ul{margin-left:20px;text-align:left;*z-index:10;*position:relative;}
#y-nav-pri li{background:#C8C7C7 url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) right 0;}
#y-nav-pri li span{padding:.69em .77em .54em .77em;font-weight:bold;}
#y-nav-pri li.subnav span{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) center -575px no-repeat;}
#y-nav-pri li#y-current.subnav span{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) center -609px no-repeat;}
#y-nav-pri li.subnav-tagged span{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) center -584px no-repeat;}
#y-nav-pri li#y-current.subnav-tagged span{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) center -618px no-repeat;}
#y-nav-pri li.subnav span.tag{background-image:none;}
#y-nav-pri li#y-current.subnav span.tag{background-image:none;}
#y-nav-pri li#y-current{background-position:100% -100px;background-color:#3D63A8;}
#y-nav-pri li a{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) 0 -300px no-repeat;text-decoration:none;white-space:nowrap;color:#525252;text-transform:uppercase;}
#y-nav-pri li#y-current a{background-position:0 -400px;color:#fff;}
#y-nav-pri li.new,#y-nav-pri li.updated{text-align:center;}
#y-nav-pri li.new span,#y-nav-pri li.updated span{padding-top:0;}
#y-nav-pri li.new span.tag,#y-nav-pri li.updated span.tag{padding:0;}
#y-nav-pri li.new span.tag{background:#f38c30 url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat right -865px;}
#y-nav-pri li.updated span.tag{background:#f2e81f url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat right -865px;}
#y-nav-pri li.new span.tag strong{background:transparent url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat left -913px;}
#y-nav-pri li.updated span.tag strong{background:transparent url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat left -913px;}
#y-nav-pri li#y-current.new span.tag{background:#f38c30 url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat right -980px;}
#y-nav-pri li#y-current.updated span.tag{background:#f2e81f url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat right -980px;}
#y-nav-pri li#y-current.new span.tag strong{background:transparent url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat left -1028px;}
#y-nav-pri li#y-current.updated span.tag strong{background:transparent url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) no-repeat left -1028px;color:#000;}
#y-nav-pri li.new span.tag strong,#y-nav-pri li.updated span.tag strong{font:bold 69% "Trebuchet MS",Verdana,Arial;display:block;width:inherit;line-height:1em;}
#y-nav-pri li ul{background-color:#F1F1F1;border-left:1px solid #DEDFDE;border-right:1px solid #DEDFDE;border-bottom:1px solid #DEDFDE;}
#y-nav-pri li ul li{border-bottom:1px solid #DEDFDE;}
#y-nav-pri li ul li li{border-bottom:none;}
#y-nav-pri #y-portfolios-list{border-left:none;border-right:none;}
#y-nav-pri #y-nav-my-portfolios ul{border:none;}
#y-nav-pri #y-portfolios-list ul{border-bottom:1px solid #DEDFDE;}
#y-nav-pri li ul li a,#y-nav-pri li#y-current ul li a{margin:0 2px 0 2px;padding:2px 4px 2px 4px;font-size:85%;font-weight:bold;text-transform:none;text-align:left;background-color:transparent;background-image:none;color:#333;border:1px solid #F1F1F1;}
#y-nav-pri li ul li a:hover,#y-nav-pri li#y-current ul li a:hover,#y-nav-pri li ul li a:focus,#y-nav-pri li#y-current ul li a:focus,#y-nav-pri #y-nav-my-portfolios li.active a{background-color:#3C61A4;color:#fff;border:1px solid #3C61A4;}
#y-nav-pri li ul li.portfolio-link{border-bottom:none;_width:100%;}
#y-nav-pri li ul li a#add-new-portfolio:hover,#y-nav-pri li ul li a#market-tracker:hover{background-color:#3C61A4;}
#y-nav-pri li ul li a#add-new-portfolio{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) 3px -664px no-repeat;padding-bottom:0;}
#y-nav-pri li ul li a#market-tracker{background:url(http://l1.yimg.com/bm/lib/fi/common/p/d/static/images/2.0.263520/2.0.0/yfi_nav_common_sprite.png) 3px -702px no-repeat;}
#y-nav-pri li ul li a#add-new-portfolio,#y-nav-pri li ul li a#market-tracker{padding-left:18px;*display:block;}
#y-nav-pri li ul li,#y-nav-pri li ul li ul{background-image:none;background-color:transparent;padding:0;margin:0;}
